<%- include("templates/encabezado") %>
<%- include("templates/menu") %>

<div class="container mt-5">
  <div class="editar-producto-container">
    <h2>Editar Producto: <%= producto.name_product %></h2>
    <form action="update/<%= producto.id_product %>" method="POST">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text" class="form-control" id="nombre" name="nombre" value="<%= producto.name_product %>" required>
      </div>
      <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción:</label>
        <textarea class="form-control" id="descripcion" name="descripcion" required><%= producto.descrip_product %></textarea>
      </div>
      <div class="mb-3">
        <label for="ingredientes" class="form-label">Ingredientes:</label>
        <textarea class="form-control" id="ingredientes" name="ingredientes" required><%= producto.ingredientes_product %></textarea>
      </div>
      <div class="mb-3">
        <label for="precio" class="form-label">Precio:</label>
        <input type="number" class="form-control" id="precio" name="precio" value="<%= producto.precio_product %>" required>
      </div>
      <!-- Agrega más campos para editar otros detalles del producto aquí -->
      <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
  </div>
</div>
